# 1.0 Introduction to Python



### Why Python?

1. Itâ€™s easy to learn
- Now the language of choice for 8 of 10 top US computer science
programs (Philip Guo, CACM)
2. Full featured
- Not just a statistics language, but has full capabilities for data
acquisition, cleaning, databases, high performance computing, and more
3. Strong Data Science Libraries
- Numpy, SciPy, Scikit-learn etc


It's important to note that Python isn't the only way that we could teach data science. We can teach data science in R, in Excel, in any number of software packages.  The concepts are more important for you to understand. 



### Your first program: Print!

Python can handle strings of letters that are enclosed in quotation marks like:  

`"I love TAR UMT"` or `'I love Malaysia'`

One of the simplest programs is print, which works like the following:

In [1]:
print('I love TAR UMT')
print("I love Malaysia")

I love TAR UMT
I love Malaysia

### print

type **print("Hello World")** and observe the difference

In [2]:
print("Hello World")

Hello World

In [ ]:
# Print a few more meaningful sentences with single and double quotes

# Arithmetic

Python can also handle numbers, and basic arithmetic using the following functions.

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | modulo |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [3]:
print(3)
print(3*5)
print(3+3)
print(3-2)
print(8/2)

3
15
6
1
4.0

**Type the following arithmetic expressions without the print function and observe the difference**

3

3*5

3+3

3-2

8/2

In [8]:
3
3*5
3+3
3-2
8/2

4.0

### Practice: Basic Arithmetic Exercises

In [26]:
# What is the duration of our 5-day workshop in minutes?
# Workshop: 7 hrs

print(5*7*60)

2100

In [25]:
# How many hours of your lecture and practical classes for BACS3013 (Data Science) subject per week?

print(2*4)

8

### Integers vs. Float

For Python 2.x, it interprets 1/2 = 0, while Python 3.x the result will be 0.5

In [11]:
print(1/2)

0.5

In [12]:
print((type(10))) #type is to find the data type
print((type(10.)))
print((10 / 3))
print((10 % 3))
print((float(10) / 3)) # Force integers to be float
print((13.0 / 3.5)) # You can also change the initial data type. 
print((13.0 //3.5)) # Floor Division, rounds down the result to the nearest integer
print((round(7.5))) # You can round floats up to the neares integer.

<class 'int'>
<class 'float'>
3.3333333333333335
1
3.3333333333333335
3.7142857142857144
3.0
8

### Exercise

Find **x** in 5x = 3x + 8

In [43]:
x = 4

a = 5*x
b = 3*x +8

print(a==b)

True

4.0

### Try the following:

In [13]:
print(5.5 + 2.2)
print(5.5 - 2.2)
print(5.5 * 2.2)
print(5.5 / 2.2)
print(5.5 // 2.2)
print(5.5 ** 2.2) #power of
print(5.5 < 2.2)
print(5.5 != 2.2)

7.7
3.3
12.100000000000001
2.5
2.0
42.540042248725975
False
True

### Exercise

Perform some arithmetic expressions for

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | modulo |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

### Exercise: 

Find *x* in -x + -19.4 = 1844.12 + 2x.

In [37]:
#x = 1200

#a = -x + -19.4
#b = 1844.12 + 2*x

c = 1844.12 +19.4

x = c/-3

#print(a)
#print(b)
print(c)
print(int(x))
#print(a==b)

1863.52
-621

# Variables

In [45]:
b = -10 
c = 2.7 

print(b)
print(c)
print((b + c))

print((type(b)))
print((type(c)))
print((type(b+c)))

-10
2.7
-7.3
<class 'int'>
<class 'float'>
<class 'float'>

In [19]:
print(b**5)
print(b+c*(b/c))

-100000
-20.0

### Change the data type

In [20]:

b = float(b)
c = int(c) #No rounding up, just cut away the decimal point

print(b)
print(c)

print((type(b)))
print((type(c)))

-10.0
2
<class 'float'>
<class 'int'>

### Exercise

How far does light travel in the time that your computer does one cycle?

Assuming that the computer is processing at a frequency of 4GHz.

### Exercise

Given the values of x = 6.3 and y = 8.2

- Find the data types for x and y
- Perform the basic arithmetic using the following functions:

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | modulo |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

- Change the data type for variable x and y

In [39]:
x = 6.5
y = 8.2

print(type(x))
print(type(y))

<class 'float'>
<class 'float'>

In [40]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

14.7
-1.6999999999999993
53.3
0.7926829268292683
6.5
0.0
4633290.434241034

In [41]:
x = int(x)
y = int(y)

print(x)
print(y)
print(type(x))
print(type(y))

6
8
<class 'int'>
<class 'int'>

### Type the following command to find out the data information and data types for your variables

%whos

In [81]:
%whos

Variable     Type     Data/Info
-------------------------------
a            int      20
b            int      -10
c            float    2.7
idno         str      2013093
movie        str      Tom chases Jerry
msg          str      Faculty of Computing and Information Technology
msgU         str      FACULTY OF COMPUTING AND INFORMATION TECHNOLOGY
my_uni       str      TAR UMT
name         str      Alam Tham
university   str      TAR UMT, Tunku Abdul Rahm<...>chnology is my university
x            int      4
y            int      8

# Strings

Define a variable as your name.  Then print "I am     ____  from TAR UMT" using your variable.

In [47]:
name = 'Alam Tham'
print("I am " + name + " from TAR UMT")

I am Alam Tham from TAR UMT

### Exercise

Define a variable as your subject code. Then print a meaningful sentence.

In [80]:
idno = "2013093"
print("My Student ID is " + idno)

My Student ID is 2013093

### What will happen? Correct the error to make the sentence becomes meaningful.

print("TAR UMT is no " + 1)

In [48]:
print("TAR UMT is no " + 1)# cannot join string to integer

TypeError: can only concatenate str (not "int") to str

In [71]:
print("TAR UMT is no " + "1")
print("TAR UMT is no " + str(1))

TAR UMT is no 1
TAR UMT is no 1

### Slices of String Indices


my_uni[i] -- ith item of my_uni, origin 0

my_uni[i:j] -- slice of my_uni from i to j

my_uni[i:j:k] -- slice of my_uni from i to j with step k

In [56]:
my_uni='TAR UMT'
# print(my_uni(0))
print(my_uni[0])
print(my_uni[0:5])
print(my_uni[1:5])
print(my_uni[0:6])

T
TAR U
AR U
TAR UM

### Exercise

In [55]:
movie='Tom chases Jerry'
# print(my_uni(0))
print(movie[0])
print(movie[0:10])
print(movie[5:16])
print(movie[4:9])

T
Tom chases
hases Jerry
chase

### Useful string slicing

len(my_uni) -- length of my_uni

my_uni.index('c') -- index of the first occurrence of **c** in my_uni

my_uni.find('other') -- searches for the given other string (not a regular expression) within my_uni, and returns the first 
index where it begins or -1 if not found

In [60]:
print(movie.index('c'))
print(movie.find('Je'))

4
11

In [61]:
university = 'TAR UMT, Tunku Abdul Rahman University of Management and Technology is my university'

print(university[university.find('TAR UMT'):university.find(' is')])

TAR UMT, Tunku Abdul Rahman University of Management and Technology

### HELP ME PLEASE

just type **help("str.find")**

In [62]:
help("str.find")

Help on method_descriptor in str:

str.find = find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

### Common built- in methods
min(s) -- smallest item of s	

max(s) -- largest item of s	 

s.count(x) -- total number of occurrences of x in s	

s.lower(), s.upper() -- returns the lowercase or uppercase version of the string

s.strip() -- returns a string with whitespace removed from the start and end

s.isalpha()/s.isdigit()/s.isspace()... -- tests if all the string chars are in the various character classes

s.startswith('other'), s.endswith('other') -- tests if the string starts or ends with the given other string

s.replace('old', 'new') -- returns a string where all occurrences of 'old' have been replaced by 'new'

s.split('delim') -- returns a list of substrings separated by the given delimiter. The delimiter is not a regular expression, it's just text. 'aaa,bbb,ccc'.split(',') -> ['aaa', 'bbb', 'ccc']. As a convenient special case s.split() (with no arguments) splits on all whitespace chars.

s.join(list) -- opposite of split(), joins the elements in the given list together using the string as the delimiter. e.g. '---'.join(['aaa', 'bbb', 'ccc']) -> aaa---bbb---ccc

### Exercise

print *Faculty of Computing and Information Technology* in uppercase

In [77]:
msg = "Faculty of Computing and Information Technology"

print(msg.upper())

FACULTY OF COMPUTING AND INFORMATION TECHNOLOGY

FACULTY OF COMPUTING AND INFORMATION TECHNOLOGY

### Exercise

use isupper(),islower()

In [78]:
msgU = msg.upper()
print(msgU.isupper())
print(msgU.islower())

True
False

### Format

The % operator takes a printf-type format string on the left (%d int, %s string, %f/%g floating point), and the matching values in a tuple on the right (a tuple is made of values separated by commas, typically grouped inside parenthesis).

In [65]:
print('My name is %s. I am working at %s as a %s. \
I have been with this University for %d years.'%('Johan','TAR UMT', 'Senior Lecturer', 5))

print('My name is {}. I am working at {} as a {}. \
I have been with this University for {} years.'.format('Johan','TAR UMT', 'Senior Lecturer', 5))

My name is Johan. I am working at TAR UMT as a Senior Lecturer. I have been with this University for 5 years.
My name is Johan. I am working at TAR UMT as a Senior Lecturer. I have been with this University for 5 years.

### Exercise

Construct meaningful sentences using the above format.

In [66]:
print('I am currently Year %d in %s'%(3, 'Software Engineering'))

I am currently Year 3 in Software Engineering

In [70]:
print('I am currently Year {} in {}'.format(2, 'Software System Development'))

I am currently Year 2 in Software System Development

# Function

In [82]:
def maths_is_beautiful( x , y ):
    "This is my first function. Please take note that indent is important!"
    
    return x + y

In [83]:
maths_is_beautiful(5,8)

13

### Exercise

Construct functions with meaningful function names to perform the following basic arithmetics

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | modulo |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [126]:
def maths_is_beautiful( x , y ):    
    return x - y

maths_is_beautiful(8,8)

0

In [125]:
def maths_is_beautiful( x , y ):    
    return x * y

maths_is_beautiful(2,9)

18

In [124]:
def maths_is_beautiful( x , y ):    
    return x / y

maths_is_beautiful(9,40)

0.225

### Thinking Corner
Oops, "This is my first function. Please take note that indent is important!" Without indentation, the function was not returned!

In [122]:
def maths_is_beautiful( x , y ):
    "This is my first function. Please take note that indent is important!"
    
    return x + y

In [123]:

# Retify the problem and complete the code

## start your code here...

def maths_is_beautiful2( x , y ):
    "This is my first function. Please take note that indent is important!"
    
    return x * y


maths_is_beautiful2(7,9)

63

### Exercise 

Write a function to find the square root of a number

In [119]:
import math
a= 100
print (math.sqrt(a))

10.0

In [121]:
def squareroot(num):
    # your code
    return math.sqrt(num)

print (squareroot(a))

10.0

### Logic

In [92]:
print((5 > 2))
print((2 > 5))
print((2 is 2))
print((2 == 3)) 
print((5 > 2 or 2 > 1))
print((5 > 2 and 2 > 2))
print(('s' in 'datascience'))
print(('x' in 'datascience'))

True
False
True
False
True
False
True
False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/_7/7m67dcrj6dn9b7wk977d42r40000gn/T/ipykernel_2091/1412636011.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print((2 is 2))

### if-else condition

In [93]:
def which_is_bigger(a,b):
    if a > b:
        return a
    elif a < b:
        return b
    else:
        return 0

print(which_is_bigger (5,3))
print(which_is_bigger (3,6))
print(which_is_bigger (3,3))

5
6
0

### while condition

In [117]:
countries = [['China','Beijing', 1350],
             ['India','Delhi',1210],
             ['United States','Washington DC', 309],
             ['Malaysia','Kuala Lumpur',29]]

# How many times bigger is the population of 
# China, India, and the US relative to Malaysia?

number_of_list = len(countries)
index = 0
while (index <number_of_list):
    ratio = countries[index][2]/countries[3][2]
    
    print(countries[index][2])
    print(countries[3][2])
    
    print('The population of %s relative to %s is about: %f'%(countries[index][0],countries[3][0],ratio))
    index = index + 1

1350
29
The population of China relative to Malaysia is about: 46.551724
1210
29
The population of India relative to Malaysia is about: 41.724138
309
29
The population of United States relative to Malaysia is about: 10.655172
29
29
The population of Malaysia relative to Malaysia is about: 1.000000

### List Methods

- list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
- list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
- list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
- list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
- list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
- list.sort() -- sorts the list in place (does not return it).
- sorted(list) -- return sorted list but keeps the original order of the list
- list.reverse() -- reverses the list in place (does not return it)
- list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

#### Example

In [95]:
colors = ['red', 'green', 'blue']
colors.append('purple')
colors

['red', 'green', 'blue', 'purple']

### Exercise

Construct a list of 8 fruits, then add papaya at the end of the fruit list.

In [100]:
fruits = ["banana", "apple", "kiwi", "grapes", "watermelon", "pear", "pineapple", "durian"]
fruits.append("papaya")
print(fruits)

['banana', 'apple', 'kiwi', 'grapes', 'watermelon', 'pear', 'pineapple', 'durian', 'papaya']

### List Slicing

it is similar to R. Be reminded that for python, the index always starts from zero.

In [106]:
print(colors[0])
print(colors[0][1])

red
e

### Exercise

In [115]:
print(fruits[7])
print(fruits[4])
print(fruits[4][9])

durian
watermelon
n

### for loop

In [111]:
# Define a function to count the total of mark list. 

def sum_list(your_list):

    
    totalvalue = 0
    
    for value in your_list:
    
        totalvalue = totalvalue + value

    return totalvalue

# put 3 values for the mark list 

mark_list = [90,58,78]

sum_list(mark_list)

226

### Exercise

Define a for loop to count the total number of 7 tutorial groups of RSF students.

In [109]:
# max number in tutorial: 24

def sumStudents(stuList):
    
    totalStudent = 0
    
    for val in stuList:
        
        totalStudent += val
        
    return totalStudent


studList = [20, 24, 16, 18, 22, 21, 24]

print(sumStudents(studList))

145

### List Comprehensions

Quite similar to lappy function in R

In [112]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
squares = [n*n for n in numbers]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64]